<ion-view title="Page" id="page3">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page3-card22">
      <ion-item id="page3-list-item11" ui-sref="page()">Andrei Manalo</ion-item>
      <div class="item item-body" id="page3-list-item-container4">
        <div id="page3-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address: Sta. Rita Pampanga Contact#: 0915 (456) 0201`</p>
        </div>
      </div>
      <ion-item class="item-icon-left item-icon-right balanced" id="page3-list-item12">
        <i class="icon ion-music-note"></i>Call
        <i class="icon ion-android-call"></i>
      </ion-item>
    </div>
  </ion-content>
</ion-view>