<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading1" style="color:#000000;">Contacts</h1>
    <div id="page-button-bar1" class="button-bar">
      <button id="page-button4" class="button button-dark button-block">ADD</button>
      <button id="page-button5" class="button button-balanced button-block">UPDATE</button>
      <button id="page-button6" class="button button-assertive button-block">DELETE</button>
    </div>
    <ion-list id="page-list2">
      <label class="item item-input" id="page-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar item-icon-right" id="page-list-item2" ui-sref="page2()">
        <img src="img/Nz3SWi5Q1C7qH6Cp9QHs_purgold-2017.jpg">
        <h2>Joao Cruz</h2>
        <p>PureGold - Mexico</p>
        <i class="icon ion-tshirt"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item3" ui-sref="page3()">
        <img src="img/HPEWNjtRKOeHoF0c0Yew_download.jpg">
        <h2>Andrei Manalo</h2>
        <p>Mcdo</p>
        <i class="icon ion-android-bar"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item4" ui-sref="page4()">
        <img src="img/OhUApuU0RZyZJ7ITHDF6_download.png">
        <h2>Paulo Puyat</h2>
        <p>PELCO 1</p>
        <i class="icon ion-flash"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>