<ion-view title="Page" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="page4-card23">
      <ion-item id="page4-list-item13" ui-sref="page()">Paulo Puyat</ion-item>
      <div class="item item-body" id="page4-list-item-container5">
        <div id="page4-markdown5" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Address: Poblacion, Arayat Pampanga Contact#: 0926 (854) 5021</p>
        </div>
      </div>
      <ion-item class="item-icon-left balanced" id="page4-list-item14">
        <i class="icon ion-android-call"></i>Call</ion-item>
    </div>
  </ion-content>
</ion-view>